@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import "reset.css";
@import "typography.css";
@import "fonts.css";
@import "header.css";
@import "footer.css";
@import "side-navs.css";
@import "authenticate.css";
@import "main.css";
@import "technologies.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,0.6) 0%, rgba(0,0,0,1) 100%), url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1;
}

