@import url("https://file.myfontastic.com/c5irk2xp7QZdrJAJNGTtoK/icons.css");

.main-section {
    margin: 0;
    display: flex;
}

.buildings {
    background: #2f2f2f;
    color: #fff;
    flex: 6;
}

.building {
    display: flex;
    margin: 1rem;
    border: 1px solid #C8B990;
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233f3f3f' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.buildings {
    padding: 1rem;
}

.buildings .buildings-type-list {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buildings .buildings-type-list a {
    font-weight: bold;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0 1rem;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    transition: 0.075s ease;
    width: 7rem;
    text-align: center;
}

.buildings .buildings-type-list a:hover {
    background: whitesmoke;
    color: #444;
}

.building-image {
    margin: 0.5rem 0 0.5rem 0.5rem;
    position: relative;
    overflow: hidden;
    width: 15rem;
}

.building-image:after {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.building .building-image img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

.building-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.building-upper-info .building-title {
    font-weight: bold;
    font-size: 1rem;
}

.building-upper-info,
.building-bottom-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 15px 2rem;
}

.building-upper-info i,
.building-bottom-info i {
    margin: 0 0.35rem;
}

.building-build-btn {
    padding: 0.25rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    outline: none;
    border: 1px solid #ffffff;
    transition: 0.075s ease-in;
}

.building-build-btn:hover {
    background-color: whitesmoke;
    color: #444;
    cursor: pointer;
}
